language: android

jdk:
  - oraclejdk8

before_install:
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo "24333f8a63b6825ea9c5514f83c2829b004d1fee" > "$ANDROID_HOME/licenses/android-sdk-license"
  - chmod +x gradlew
  - chmod +x .buildscript/deploy_snapshot.sh

script:
  - ./gradlew clean check

after_success:
  - .buildscript/deploy_snapshot.sh

env:
  global:
    - secure: "kdxMoOx8xdmplq3RRfksMsFT/50vkwPMIWL3gUvkFVlynioOMg+RI9/nW+Tk4foi32XeT5i81p6Xtm1X/9PSXQbjDVTIOjd9iFEKQ3vfY2+rw5QTEYwHGPCzZQkYVwF2dVmT7yZma6Zam0n+7mCsjkdgaQ8uGrLsJp+UWUFitMu2LFnx2k+e0EZhPCQnU+a+FB1PSNa0dVL5a2eXFr74MW67Wg4P1JJ46WWDpIJSUzZKU4qpNBkRa/xAT+bBIddK6k20cRGg83gGquQrCNht25QtS+SON2CX5ZdDeN9cCLE4ipFTMR69Jn7D+Wa52qDWWwt64nhVxVirt2vm11Ocs7JcTbx8/StO6eMycLbYprkHTuEUY6rGMwjKOuW46bwkc7g0jboG2z8dR3pvuQ8lYqFIMeM6M86dzPXX5kXJTt/J2dySmoSZJviO7SoKMSRoYUmXcsBX0OBuvZp2Ma3LDioMWRFOcD6P5Hzya1lZBO+pBAflSgvmKBW+jdure2GUDm0xODJs5rxD5IYwSCBeEAVYDlkk6ktqUSGfJqAdsYczhE6n0EN7v0+3ISe6C6lWNa4oz238seqbLUotWevIVOXdBvjUQV2qkbafJPl1sO3OHJWq/Q9UWE51780pNHTEXXLnU+LNS3/F3IKMXhrIL7sAKw64jnuVYYbZZBGADP8="
    - secure: "UCkGSmGtQH//FTWgj/JFThATGvUm8+0BbZ746p8TcvACzTbclRxE9RZ2e3UruYmucrwB7BB+ZE0lZQcR4RUv53oDPHsaaOCV9d7B4s/LYefxplbwDsOwS2Wp1CKIG3DXV2wTQH+UgrcYwSuTAfpOcnn+rGvnOnPe3e0ZJKMKG5PemHOcIQm0aFCLAkrcsVFeYq1a8TJpJ8nHLNZaX2KE3BVVTT2AfnFHHjIl6hcISzomWn5SFlySwhVrTcoAcL8mKrnDQn4MmQTp2YNsqKI4FMBve/C52O8L4NNkdg6B/pJf77f10WKeRLHyql3a6psYI27PCaEn5FYndOwhl+gVjfR9SZpbdtVln/5wYPnXYk5pGqs6jD5ir+dBkN45aTgq0PUYvX5z56bWLg/b762uPrvVj5RJjPBUZcy9Bn8Au2RX7cSN9ZF3hkafUphQMYOl9Ag6NSMfQkEbI3q02FY3y1n68rOxQ1UhS910XATrYEdid7HnLRs0FDeBiOeRVkFdvglSNXpHgq/OKJdWZST+SRS/r8fjd2Ks4SwI39KJp1zCwAjXJn/yvI5M0dn1iERBrD+jy6vPIeCZXb8Bj8uo+IlYvMuqIWmlgG8rEanA+A+xVkRHuxXalzcr8Y8rVqwK7ROfkH9oEdILXooBkG63JgWUfmQTZYLlgo2KGWhYIBY="

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle

sudo: false